@model IEnumerable<GummiPlanet.Models.Product>
@{
    ViewData["Title"] = "Gummi Planet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="bear-img">
            <img src="~/img/bear.jpg" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="product-list">
            <h2>Products</h2>
            <ul>
                @foreach (var listProduct in Model)
                {
                    <li>@Html.DisplayFor(modelItem => listProduct.Name) | @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = listProduct.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = listProduct.ProductId })</li>
                }
                <p>@Html.ActionLink("Add new Product", "Create")</p>
            </ul>
        </div>
    </div>
</div>