@model IEnumerable<GummiPlanet.Models.Product>
@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>
<h4>@Html.DisplayNameFor(model => model.Name)</h4>
<ul>
    @foreach (var listProduct in Model)
    {
        <li>@Html.DisplayFor(modelItem => listProduct.Name) | @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = listProduct.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = listProduct.ProductId })</li>
    }
    <p>@Html.ActionLink("Add new Product", "Create")</p>
</ul>